body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

section {
	min-height: 100vh;
	min-width: 100vw;
}

h1,
h2 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 10vw;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 92px;
	transition: all 200ms ease-in-out;
}

h2:hover {
	transform: scale(1.1);
	color: #af0000;
}

p {
	font-size: 20px;
	margin: 0;
}

/* .upper,
.lower {
	height: 50vh;
}

.upper {
	background-color: black;
	color: white;
	display: flex;
	align-items: flex-end;
	padding-left: 8vw;
	padding-bottom: 10px;
}

.heading-one {
	animation: heading-down 2s ease-in;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.heading-two {
	animation: heading-up 2s ease-in 1s backwards;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.lower {
	text-align: end;
	padding-right: 6vw;
	padding-top: 10px;
}

@keyframes heading-down {
	from {
		transform: translateY(15vmin);
		opacity: 0;
	}
}

@keyframes heading-up {
	from {
		transform: translateY(-15vmin);
		opacity: 0;
	}
} */

.ny-words {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		to bottom,
		rgb(255, 255, 255) 58%,
		rgb(0, 0, 0) 42%
	);
}

.word-cycle {
	color: white;
	position: sticky;
	top: 1%;
	mix-blend-mode: difference;
	padding-bottom: 50px;
	animation: movement 6s ease;
}

.word-cycle:after {
	animation: word-cycle 8s ease infinite alternate;
	content: '';
}

@keyframes movement {
	from {
		transform: translateY(-55vh);
	}
}

@keyframes word-cycle {
	0% {
		content: ' Vibrant';
		color: #af0000;
	}
	10% {
		content: ' Evolving';
		color: #b14102;
	}
	25% {
		content: ' Colorful';
		color: #a1941e;
	}
	40% {
		content: ' Diverse';
		color: #4f8906;
	}
	55% {
		content: ' Busy';
		color: #048f6e;
	}
	70% {
		content: ' Lively';
		color: #0643b8;
	}
	85% {
		content: ' Inspiring';
		color: #150674;
	}
	100% {
		content: ' Exciting';
		color: #6d0088;
	}
}

.discover {
	background: black;
	color: white;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding-bottom: 40px;
}

.discover-heading,
.experience-heading,
.taste-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 30px;
	text-align: center;
	max-width: 430px;
	margin-bottom: 20px;
}

.discover-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	gap: 20px;
	padding: 0 30px;
}

.gallery-img img {
	object-fit: cover;
	width: 350px;
	height: 350px;
	border-radius: 15px;
	transition: all 200ms ease-in-out;
	filter: grayscale(0.9);
}

.gallery-img img:hover {
	transform: scale(0.9);
	filter: grayscale(0);
}

.experience {
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.experience-heading {
	margin-right: 50px;
}

.listing {
	padding: 20px 80px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 15px;
}

.taste {
	background: black;
	color: white;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding-bottom: 40px;
}

.taste-gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(270px, 300px));
	row-gap: 10px;
	text-align: center;
	align-items: center;
}

.taste-img img {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 15px;
	transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 768px) {
	.gallery-img img {
		width: 300px;
		height: 300px;
	}

	.experience-heading {
		margin-right: 0;
	}

	.taste-gallery {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

@media only screen and (max-width: 660px) {
	.gallery-img img {
		width: 250px;
		height: 250px;
	}

	h2 {
		font-size: 80px;
	}
}

@media only screen and (max-width: 550px) {
	.discover-gallery {
		grid-template-columns: auto;
	}

	.gallery-img img {
		width: 300px;
		height: 300px;
	}

	.taste-gallery {
		grid-template-columns: auto;
	}
}
