body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

section {
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100%;
}

h1,
h2 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 10vw;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 92px;
	transition: all 200ms ease-in-out;
}

h2:hover {
	transform: scale(1.1);
	color: #af0000;
}

p {
	font-size: 20px;
	margin: 0;
}

small {
	font-size: 13px;
}

.ny-words {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		to bottom,
		rgb(255, 255, 255) 58%,
		rgb(0, 0, 0) 42%
	);
}

.word-cycle {
	color: white;
	position: sticky;
	top: 1%;
	mix-blend-mode: difference;
	padding-bottom: 25px;
	animation: movement 6s ease;
}

.word-cycle:after {
	animation: word-cycle 8s ease infinite alternate;
	content: '';
}

@keyframes movement {
	from {
		transform: translateY(-55vh);
	}
}

@keyframes word-cycle {
	0% {
		content: ' Vibrant';
		color: #af0000;
	}
	10% {
		content: ' Evolving';
		color: #b14102;
	}
	25% {
		content: ' Colorful';
		color: #a1941e;
	}
	40% {
		content: ' Diverse';
		color: #4f8906;
	}
	55% {
		content: ' Busy';
		color: #048f6e;
	}
	70% {
		content: ' Lively';
		color: #0643b8;
	}
	85% {
		content: ' Inspiring';
		color: #150674;
	}
	100% {
		content: ' Exciting';
		color: #6d0088;
	}
}

.discover {
	background: black;
	color: white;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding-bottom: 40px;
}

.discover-heading,
.experience-heading,
.taste-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 30px;
	text-align: center;
	max-width: 430px;
	margin-bottom: 20px;
}

.discover-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	align-items: center;
	gap: 20px;
	padding: 0 30px;
}

.gallery-img img {
	object-fit: cover;
	width: 350px;
	height: 350px;
	border-radius: 15px;
	transition: all 200ms ease-in-out;
	filter: grayscale(0.9);
}

.gallery-img img:hover {
	transform: scale(0.9);
	filter: grayscale(0);
}

.experience {
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.experience-heading {
	margin-right: 50px;
}

.listing {
	padding: 10px 30px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 15px;
	display: flex;
	align-items: center;
	background: rgb(223, 223, 223);
	color: black;
	transition: all 200ms ease;
}

.listing img {
	margin-right: 10px;
	object-fit: cover;
	width: 75px;
	height: 75px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.484);
}

.listing:hover {
	background: #ffffff;
	transform: scale(1.1);
}

.taste {
	background: black;
	color: white;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding-bottom: 100px;
}

.taste-gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(270px, 300px));
	row-gap: 10px;
	text-align: center;
	align-items: center;
}

.taste-img img {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 15px;
	transition: all 200ms ease-in-out;
}

.taste-img img:hover {
	transform: scale(1.1);
	filter: brightness(110%);
	border: 1px solid rgba(255, 255, 255, 0.77);
}

.visit {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.visit p {
	width: 400px;
	margin: 15px auto 20px auto;
}

.full-form-wrapper {
	margin: 100px auto 0px;
	padding: 10px 20px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 1px rgb(0, 0, 0);
	border: 1px solid black;
}

.full-form-wrapper small {
	color: rgb(110, 110, 110);
}

label,
button {
	font-family: 'Barlow Semi Condensed';
	text-transform: uppercase;
	font-weight: 600;
}

input {
	padding: 10px;
	margin: 10px 5px;
	border: 1px solid black;
	border-radius: 5px;
}

input[type='date'] {
	font-family: 'Inter', sans-serif;
	color: rgb(104, 104, 104);
}

footer {
	border: 1px solid black;
	font-weight: bold;
	margin: 100px auto 20px;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 1px rgb(0, 0, 0);
}

footer i {
	color: #af0000;
}

a {
	text-decoration: none;
	color: #af0000;
}

a:hover {
	text-decoration: underline;
	color: black;
}

footer small {
	font-weight: 400;
	color: rgb(67, 67, 67);
}

.tour-form {
	margin-top: 15px;
}

#guests {
	width: 60px;
}

#visit-btn {
	padding: 12px 46px;
	margin-top: 10px;
	font-size: 18px;
	border-radius: 5px;
	color: white;
	background: black;
	border: 2px solid black;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

#visit-btn:hover {
	background: transparent;
	color: black;
	transform: scale(1.1);
	border: 2px solid #af0000;
}

@media only screen and (max-width: 768px) {
	.gallery-img img {
		width: 300px;
		height: 300px;
	}

	.experience-heading {
		margin-right: 0;
	}

	.taste-gallery {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.taste-img:last-of-type {
		display: none;
	}
}

@media only screen and (max-width: 660px) {
	.gallery-img img {
		width: 250px;
		height: 250px;
	}

	h2 {
		font-size: 74px;
	}
}

@media only screen and (max-width: 550px) {
	.discover-gallery {
		grid-template-columns: auto;
	}

	.gallery-img img {
		width: 300px;
		height: 300px;
	}

	.taste-gallery img {
		width: 175px;
		height: 175px;
	}

	.visit p {
		width: 280px;
	}

	.full-form-wrapper {
		width: 300px;
		padding: 10px 30px 40px;
	}

	label {
		display: block;
	}

	.tour-form br {
		display: none;
	}
}

@media only screen and (max-width: 420px) {
	.taste-gallery {
		grid-template-columns: auto;
	}

	.taste-gallery img {
		width: 220px;
		height: 220px;
	}
	.full-form-wrapper {
		width: 280px;
		padding: 10px 10px 20px;
	}

	.visit p {
		font-size: 17px;
	}
	h2 {
		font-size: 56px;
	}
}
